* {
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 10px;
}

body {
    width: 100%;

}

a:hover {
    color: black;
}

a {
    text-decoration: none;
}


/*NAVBAR*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    background-color: transparent;


}

.padx {
    padding: 5rem 0rem;
    padding-bottom: 0;
}

.page-bg-color {
    background-color: #FFF8EC;
}

.nav-logo-desktop {
    display: none;

}

.nav-items,
.nav-items-mobile {
    height: 90vh;
    background-color: transparent;
    padding-left: 0;
    display: none;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
}

.nav-items ul,
.nav-items-mobile ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.nav-links li,
.borderTrans {
    transition: .3s all;
    border-top: .3rem solid transparent;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
    padding-bottom: .7rem;
    margin: 0 .2rem;
}

.nav-items-mobile .nav-links li {
    border-top: .3rem solid transparent !important;
    border-left: .3rem solid transparent !important;
    border-right: .3rem solid transparent !important;
}

.nav-items-mobile .nav-links li:hover {
    border-top: .3rem solid transparent !important;
    border-left: .3rem solid transparent !important;
    border-right: .3rem solid transparent !important;
}





/*Nav toggle*/
.nav-toggle div {
    cursor: pointer;
    background-color: transparent;
    border: none;

}



.nav-links li a {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFF8EC;
    padding: 1rem 1rem;
}



.nav-links li a {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    color: #FFF8EC;
}


.nav-links li a:hover {
    color: #FFF8EC;
    text-decoration: none;
}

.nav-social {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bgff {

    background-color: #FFF8EC !important;
}

.clrff {
    color: #FFF8EC !important;
}


.hamburger .line {
    width: 40px;
    height: 4px;
    background-color: #FFF8EC;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2),
#hamburger-2 .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1),
#hamburger-2 .line:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    -o-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3),
#hamburger-2 .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}




.nav-social li a {
    color: #FFF8EC;
    padding: .5rem;

}

.nav-social li a i {
    font-size: 4rem;
    margin: 2rem;
}

.nav-social li a {
    color: #FFF8EC;
}



.search-button {
    cursor: pointer;
    color: #FFF8EC;
}

.search-button:hover {
    color: #FFF8EC;
    text-decoration: none;
}

.search-button span {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;

    color: #FFF8EC;

    opacity: 0.4;
}

.search-button i {
    font-size: 3rem;
}



/*FULLPAGESEARCH*/
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 1000;
}


input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#search input[type=search] {

    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    border: 0;
    border-bottom: 4px solid #FFF8EC;

    outline: none;
}

#search .btnsearch {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;

}

#search .btnsearch:focus {
    background-color: transparent !important;
    color: white !important;
    outline: none !important;
    border: none !important;

}


#search .btnsearch i {
    font-size: 4rem;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}


.nav-logo-area {
    background-color: transparent;
    display: flex;
    padding: 2rem;
    padding-left: 0;
}

.bg-black {
    background-color: black !important;
}

.mobile-logo img {
    width: 200px;
}


/*page-inner*/
.page-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    background-color: #E5E5E5;
}

/* index section 1*/

.page-inner-first-area-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.page-inner-first-area-text {
    padding: 3rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 40%;
}

.page-inner-first-area-text p {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    text-align: center;

    /* Siyah */

    color: #0B0907;
}

/* index section 2*/

.remmed {
    padding: 4rem 2rem;
}


.page-inner-second-area-white {
    height: 65%;
    background-color: #FFF8EC;

}

.page-inner-second-area-white p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B0907;
    width: 100%;
    margin-top: 7rem;
}



.page-inner-second-area-black {
    height: 35%;
    background-color: #0B0907;
    position: relative;
    padding: 8rem;
    padding-top: 6rem;
}

.index-images-cont {
    padding: 0rem 8rem;
    position: relative;
    width: 300px;
    height: 500px;
}


.index-hakkimizda-link {

    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1000;

}



.index-hakkimizda-link a {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #FFF8EC;
    z-index: 1000;
    border: 1px solid #FFF8EC;
    padding: 1rem 2rem;
}

.tumunugor-link a {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: black;
    z-index: 1000;
    border: 1px solid black;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tumunugor-link a:hover {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: black;
    z-index: 1000;
    border: 1px solid black;
    text-decoration: none;
    padding: 1rem 2rem;
}

.tumunugor-link-ib a {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #FFF8EC;
    z-index: 1000;
    border: 1px solid #FFF8EC;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tumunugor-link-ib a:hover {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #E5E5E5;
    z-index: 1000;
    border: 1px solid #FFF8EC;
    text-decoration: none;
    padding: 1rem 2rem;
}


.tumunugor-link,
.tumunugor-link-ib {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1000;


}

.index-hakkimizda-link a:hover {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #FFF8EC;
    z-index: 1000;
    border: 1px solid #FFF8EC;
    text-decoration: none;
    padding: 1rem 2rem;
}


#page-inner-second-img-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -90px;
    left: 0%;
    z-index: 80;
}

#page-inner-second-img-2 {
    position: absolute;
    width: 170px;
    height: 170px;
    right: 0%;
    top: -190px;
}

.page-inner-second-area-button {
    width: 280px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', sans-serif;
    cursor: pointer;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    border: 1.5px solid #FFF8EC;
    color: #FFF8EC;
    background-color: #0B0907;
    text-decoration: none;

}

.page-inner-second-area-button:hover {
    color: #FFF8EC;
    text-decoration: none;
}

/* index section 3 */

.page-inner-third-area-black {
    height: 65%;
    background-color: #0B0907;
    position: relative;
}

.page-inner-third-area-white {
    height: 35%;
    background-color: #FFF8EC;
}

.page-inner-third-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 4rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

}


.section-header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 5rem;
    /* identical to box height */


    /* Bej */

    color: #FFF8EC;
}

.tps-items div {
    position: relative;
}



.tps-items p {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    /* Bej */

    color: #FFF8EC;
}


/*Index Section 4*/

.fps-item-container {
    border: 2px solid #0B0907;
    padding: 0;
    margin-right: 2rem;
}


.fps-items a:hover {
    text-decoration: none;
}

.fps-content {
    background-color: #FFF8EC;
}

.fps-header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    margin: 1.5rem 0;

    /* Siyah */

    color: #0B0907;
}


.fps-date {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */


    /* Siyah */

    color: #0B0907;
}

.fps-text {

    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    /* Siyah */

    color: #0B0907;
}

.fps-text:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 10px, #FFF8EC);
}

.page-inner-fourth-area-black {
    height: 35%;
    background-color: #0B0907;
    position: relative;
}

.page-inner-fourth-area-white {
    height: 65%;
    background-color: #FFF8EC;
}

.page-inner-fourth-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 4rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

}


.page-inner-fourth-content .section-header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    /* identical to box height */


    /* Bej */

    color: #0B0907;
}

.tps-items div {
    position: relative;
}

.tps-items img {
    width: 280px;
}

.tps-items p {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */


    /* Bej */

    color: #FFF8EC;
}



.page-inner-fifth-area-black {
    padding-top: 8rem;
    height: 65%;
    background-color: #0B0907;
    position: relative;
}

.page-inner-fifth-area-colored {
    height: 35%;
    object-fit: cover;


}

/*FOOTER*/

.footer-header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;

    color: #FFF8EC;
}

.footer-items {
    margin-top: 2rem;
    list-style: none;
}

.footer-items li,
.footer-items li a {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 1rem;
    /* Bej */

    color: #FFF8EC;
}

.footer-iletisim {
    padding-left: 2rem;
}

.footer-items li a:hover {
    text-decoration: none;
    color: #FFF8EC;
}

.footer-social {
    list-style: none;
}

.footer-social i {
    font-size: 3rem;
}

.footer-social li {
    margin-right: 2rem;
}
}

.footer-social a:hover {
    color: #FFF8EC;
}

.copyright span {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: right;

    /* Bej */

    color: #FFF8EC;

    opacity: 0.7;
}


@media (min-width:400px) {

    #page-inner-second-img-1 {
        width: 140px;
        height: 140px;
        position: absolute;
        top: -90px;
        left: 0%;
        z-index: 80;
    }

    #page-inner-second-img-2 {
        position: absolute;
        width: 210px;
        height: 210px;
        right: 0%;
        top: -190px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


    #page-inner-second-img-1 {
        width: 150px;
        height: 150px;
        position: absolute;
        top: -90px;
        left: 0%;
        z-index: 80;
    }

    #page-inner-second-img-2 {
        position: absolute;
        width: 230px;
        height: 230px;
        right: 0%;
        top: -190px;
    }

    .page-inner-first-area-text {
        height: 70%;
    }

    .page-inner-first-area-text p {

        width: 55%;
        line-height: 5.5rem;
        font-size: 48px;

    }

    .page-inner-second-area-white p {
        width: 60%;
        line-height: 4rem;
    }



}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

    .footer-items li,
    .footer-items li a {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 1rem;
        /* Bej */

        color: #FFF8EC;
    }

    .page-inner-first-area-text {
        height: 70%;
    }

    .page-inner-first-area-text p {

        width: 40%;
        line-height: 5.5rem;
        font-size: 48px;

    }

    .index-images-cont {
        padding: 0rem 8rem;
        position: relative;
        width: 400px;
        height: 500px;
    }


    #page-inner-second-img-1 {
        width: 206px;
        height: 206px;
        position: absolute;
        top: -80px;
        left: 0%;
        z-index: 80;
    }

    #page-inner-second-img-2 {
        position: absolute;
        width: 304px;
        height: 304px;
        right: 0%;
        top: -240px;
    }

    .page-inner-second-area-white p {
        margin-top: 6rem;
        font-size: 32px;
        line-height: 4rem;
        width: 70%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .fps-text {

        max-height: 120px;
    }

    .footer-iletisim {
        padding: 0;
    }


    .fps-header {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height */


        /* Siyah */

        color: #0B0907;
    }

    .fps-date {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        /* identical to box height */


        /* Siyah */

        color: #0B0907;
    }


    .page-inner-fourth-content .section-header {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
    }

    .section-header {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        /* identical to box height */
        margin-bottom: 1rem;

        /* Bej */

        color: #FFF8EC;
    }


    .page-inner-third-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        padding: 8rem;
        height: 100%;
        justify-content: space-around;
        align-items: baseline;

    }


    .page-inner-fourth-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        padding: 8rem;
        height: 100%;
        justify-content: space-around;
        align-items: baseline;

    }


    .index-hakkimizda-link {
        position: absolute;
        bottom: 6rem;
        left: 8rem;
        z-index: 1000;

    }

    .tumunugor-link,
    .tumunugor-link-ib {
        position: absolute;
        bottom: 5rem;
        left: 8rem;
        z-index: 1000;

    }







    .remmed {
        padding: 5rem 8rem;
    }

    .nav-toggle {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        background-color: transparent;


    }

    .padx {
        padding: 5rem 0rem;
        padding-bottom: 0;
    }


    .nav-logo-desktop {
        width: 100%;
        display: block;
    }

    .nav-items {
        position: absolute;
        bottom: -8px;
        left: 0;
        height: auto;
        z-index: 1000;
        background-color: transparent;
        padding-left: 8rem;
        display: block;

    }

    .nav-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }


    .nav-links li {
        transition: .3s all;
        border-top: .3rem solid transparent;
        border-left: .3rem solid transparent;
        border-right: .3rem solid transparent;
        padding-bottom: .7rem;
        margin: 0 .2rem;
    }

    /*Nav toggle*/
    .nav-toggle div {
        cursor: pointer;
        background-color: transparent;
        border: none;

    }

    .nav-links li a {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFF8EC;
        padding: 1rem 1rem;
    }



    .nav-links li a:hover {
        color: #FFF8EC;
        text-decoration: none;
    }

    .nav-social {
        margin-left: 1rem;


    }

    .nav-social li a {
        color: #FFF8EC;
        padding: .5rem;

    }

    .nav-social li a i {
        font-size: 2rem;
        margin: 0;
    }

    .nav-social li a {
        color: #FFF8EC;
    }



    .search-button {
        cursor: pointer;
        color: #FFF8EC;
    }

    .search-button:hover {
        color: #FFF8EC;
        text-decoration: none;
    }

    .search-button span {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #FFF8EC;

        opacity: 0.4;
    }


    .search-button i {
        font-size: 1.6rem;
    }



    #search input[type=search] {

        color: white;
        background: rgba(0, 0, 0, 0);
        font-size: 60px;
        font-weight: 300;
        text-align: left;
        border: 0;
        border-bottom: 4px solid #FFF8EC;

        outline: none;
    }

    .nav-logo-area {

        display: none;
    }

    .page-inner-first-area-image {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .page-inner-first-area-text {
        padding: 3rem;
        font-family: 'Playfair Display', serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 60%;
    }

    .page-inner-first-area-text p {
        font-family: Playfair Display;
        width: 50%;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 77px;
        text-align: center;
        color: #0B0907;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .footer-items li,
    .footer-items li a {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 1rem;
        /* Bej */

        color: #FFF8EC;
    }


    .tumunugor-link-ib a {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #FFF8EC;
        z-index: 1000;
        border: 1px solid #FFF8EC;
        padding: 1rem 2rem;
    }

    .tumunugor-link-ib a:hover {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #E5E5E5;
        z-index: 1000;
        border: 1px solid #FFF8EC;
        text-decoration: none;
        padding: 1rem 2rem;
    }



    .tumunugor-link a {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: black;
        z-index: 1000;
        border: 1px solid black;
        padding: 1rem 2rem;
    }

    .tumunugor-link a:hover {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: black;
        z-index: 1000;
        border: 1px solid black;
        text-decoration: none;
        padding: 1rem 2rem;
    }



    .index-hakkimizda-link a {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #FFF8EC;
        z-index: 1000;
        border: 1px solid #FFF8EC;
        padding: 1rem 2rem;
    }

    .index-hakkimizda-link a:hover {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #FFF8EC;
        z-index: 1000;
        border: 1px solid #FFF8EC;
        padding: 1rem 2rem;
    }

    .index-images-cont {
        padding: 0rem 8rem;
        position: relative;
        width: 500px;
        height: 500px;
    }


    #page-inner-second-img-1 {
        width: 256px;
        height: 256px;
        position: absolute;
        top: -120px;
        left: 0%;
        z-index: 80;
    }

    #page-inner-second-img-2 {
        position: absolute;
        width: 384px;
        height: 384px;
        right: 0%;
        top: -350px;
    }


    .page-inner-second-area-white p {

        font-size: 48px;
        line-height: 6rem;
        width: 50%;
    }
}